
html, body {
height: 100%;
font-weight: bold;
background-color: burlywood;
}

h1, h2 { 
    text-align: center;
    color: blueviolet;
}

.container {
    text-align: center;
}

.home-image {
    width: 40%;
}