
body {
    background-image: linear-gradient(45deg, lightblue, lightgreen);
}

h1, h2 { 
    text-align: center;
    color: brown;
}

.container {
    text-align: center;
}

.home-image {
    width: 40%;
}